body{
    background-color: dodgerblue;

}
table{
    margin: 50px auto;
    border-collapse: collapse;
    background-color: dodgerblue;
    text-align: left;
    font-family: 'Heebo', sans-serif;
}

th{
    background-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: lavender;
    /* min-width: 350px;
    max-width: 350px; */
    height: 85px;
    padding: 5px 25px;
    font-size: 34px;
    font-weight: 300;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color:#A9A9A9;
}

th:first-child{
    min-width: 340px;
    max-width: 340px;
} 

th:last-child{
    min-width: 360px;
    max-width: 360px;
} 

tr th:not(:last-child),
tr td:not(:last-child)
{
    border-right: 2px solid #A9A9A9;
}

tr{
    color: grey;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even){
    background-color: #d3d3d3;
}
td{
    height: 72px;
    padding: 5px 25px;
    font-size: 30px;
    font-weight: 300;
}

tbody tr:last-child td:first-child{
    border-bottom-left-radius: 4px;
}

tbody tr:last-child td:last-child{
    border-bottom-right-radius: 4px;
}

tbody tr:not(:last-child){
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#A9A9A9;
}

.amount::before{
    content: "$ ";
}

.amount::after{
    content: ".00";
}