<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Assignees</title>
    <link rel="stylesheet" th:href="@{/todoliststyle.css}"/>
</head>
<body>
<span>
    <a href="/assignees/add-assignee"><button>Add New Assignee</button></a>
    <a href="/todo/list"><button>Back to Todo List</button></a>
    </span>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody th:each="assignee : ${assigneeslist}">
    <tr>
        <td th:text="${assignee.id}"></td>
        <td>
            <a th:href="'/assignees/' + ${assignee.id} + '/todos-per-assignee'" th:text="${assignee.name}">
            </a>
        </td>
        <td th:text="${assignee.email}"></td>
        <td>
            <a th:href="'/assignees/' + ${assignee.getId()} + '/edit-assignee'">
                <button>Edit</button>
            </a>
        </td>
        <td>
            <a th:href="'/assignees/' + ${assignee.id} + '/delete'">
                <button>Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>