<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit todo</title>
</head>
<body>
<div>Edit Todo</div>
<form th:object="${todo}" action="edit" method="post">
    <label for="title" >Todo description</label>
    <input id="title" type="text" th:field="*{title}" >
    <label for="assignee">Assignee</label>
    <select id="assignee" name="assignee-name">
        <option th:each="assignee : ${assigneeslist}" th:value="${assignee.id}" th:text="${assignee.name}"></option>
    </select>
    <label  for="urgent" >Urgent</label>
    <input id="urgent" type="checkbox" name="Urgent" >
    <label  for="done" >Done</label>
    <input id="done" type="checkbox" name="Done" >
    <input type="submit" >
</form>

</body>
</html>