<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <link rel="stylesheet" th:href="@{/todoliststyle.css}"/>
</head>
<body>
<div id="title">TODOS FOR TODAY:</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    </thead>
    <tbody th:each="todo : ${todos}" th:object="${todo}">
    <tr>
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{getDone()}"></td>
        <td th:text="*{getUrgent()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>