<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <link rel="stylesheet" th:href="@{/todoliststyle.css}"/>
</head>
<body>
<span>
<form action="list" th:method="get">
    <label for="searchByTitle">Search by Title</label>
    <input id="searchByTitle" type="text" name="fragment">
    <input type="submit">
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Assignee</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody th:each="todo : ${todosByTitle}" th:object="${todo}">
    <tr>
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{getDone()}"></td>
        <td th:text="*{getUrgent()}"></td>
        <td>
            <a th:href="'/assignees/' + *{getAssigneeId()} + '/todos-per-assignee'" th:text="*{assignee}"></a>
        </td>
        <td>
            <a th:href="'/todo/' + *{getId()} + '/delete'">
                <button>Delete</button>
            </a>
        </td>
        <td>
            <a th:href="'/todo/' + *{getId()} + '/edit'">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</span>
<div th:name="no"></div>
<br>
<br>
<span>
<div id="title">TODOS FOR TODAY:</div>
    <a href="add"><button>Add New Todo</button></a>
</span>
<span><a href="/assignees"><button>List Of Assignees</button></a></span>
</span>
<span>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date of Creation</th>
        <th>Due date</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Assignee</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody th:each="todo : ${todos}" th:object="${todo}">
    <tr>
        <td th:text="*{id}"></td>
        <td th:text="*{creation}"></td>
        <td ></td>
        <td th:text="*{title}"></td>
        <td th:text="*{getDone()}"></td>
        <td th:text="*{getUrgent()}"></td>
        <td>
            <a th:href="'/assignees/' + *{getAssigneeId()} + '/todos-per-assignee'" th:text="*{assignee}"></a>
        </td>
        <td>
            <a th:href="'/todo/' + *{getId()} + '/delete'">
                <button>Delete</button>
            </a>
        </td>
        <td>
            <a th:href="'/todo/' + *{getId()} + '/edit'">
                <button>Edit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
    </span>

</body>
</html>