<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Action History</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="navigation-bar :: topnav">
</div>
<img src="/greenfox.png" alt="A fox is hiding here.">
<ul class="actions-ul" th:each="action : ${fox.getActions()}">
    <li class="actions-li" th:text="${action}"></li>
</ul>
</body>
</html>