<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="style_index.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body th:object="${fox}">
<ul>
    <li><a class="active" th:href="'index/?name=' + *{name}">Home</a> </li>
    <li><a href="login">Log In</a></li>
    <li><a th:href="'information/?name='+ *{name}">Information Page</a></li>
    <li><a th:href="'nutrition-store/?name=' + *{name}">Nutrition Store</a></li>
    <li><a th:href="'trick-center/?name=' + *{name}">Trick Center</a></li>
    <li><a th:href="'action-history/?name=' + *{name}">Action History</a></li>
</ul>
<img src="greenfox.png" alt="A fox is hiding here."> <br>
</body>
</html>