<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body th:object="${fox}">
<div th:replace="navigation-bar :: topnav">
</div>
<img src="/greenfox.png" alt="A fox is hiding here.">
<!--<div  class="info" th:if="${fox.getDrinkAmount() == null}"  th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFoodAmount()} + ' ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div><br>
<div  class="info" th:if="${fox.getFoodAmount() == null}"  th:text="'This is ' + ${fox.getName()} + '. Currently living on '+ ${fox.getFood()} + ' and ' + ${fox.getDrinkAmount()} + ' ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div><br>
<div  class="info" th:if="${fox.getFoodAmount() >= 0} && ${fox.getDrinkAmount() >= 0}"  th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFoodAmount()} + ' ' + ${fox.getFood()} + ' and ' + ${fox.getDrinkAmount()} + ' ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div><br>
<div  class="info" th:if="${fox.getFoodAmount() < 0} && ${fox.getDrinkAmount() < 0}"  th:text="'This is ' + ${fox.getName()} + '. Currently living on 0 ' + ${fox.getFood()} + ' and 0 ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div><br>
<div  class="info" th:if="${fox.getFoodAmount() >= 0} && ${fox.getDrinkAmount() < 0}"  th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFoodAmount()} + ' ' + ${fox.getFood()} + ' and 0 ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div><br>
<div  class="info" th:if="${fox.getFoodAmount() < 0} && ${fox.getDrinkAmount() >= 0}"  th:text="'This is ' + ${fox.getName()} + '. Currently living on 0 ' + ${fox.getFood()} + ' and ' + ${fox.getDrinkAmount()} + ' ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div><br>-->
<div  class="info" th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFoodAmount()} + ' ' + ${fox.getFood()} + ' and ' + ${fox.getDrinkAmount()} + ' ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div><br>
<div class="chapter" >Known Trics:</div>
<ul th:if="${fox.getListOfTricks().size() > 0}" th:each="trick : ${fox.getListOfTricks()}">
    <li class="actions-li" >
        <img src="/littlefox.png">
        <lable th:text="${trick}" ></lable>
    </li>
</ul>
<div th:unless="${fox.getListOfTricks().size() > 0}">Learn some tricks! You can do it!</div><br>
<div class="chapter" >Last five actions:</div>
<ul  class="actions-ul" th:each="action : ${fox.getAllOrLatestFiveActions()}">
    <li class="actions-li">
        <img src="/littlefox.png" >
        <label th:text="${action}" ></label>
    </li>
</ul><br>
<a class="back" th:href="'/?name='+ *{name}">Back to the Main Page</a>

</body>
</html>