<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body th:object="${fox}">
<div th:replace="navigation-bar :: topnav">
</div>
<img src="/greenfox.png" alt="A fox is hiding here.">
<div th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. He knows ' + ${fox.getListOfTricks().size()} + ' trics.' "></div>
<div>Known Trics:</div>
<ul th:if="${fox.getListOfTricks().size() > 0}" th:each="trick : ${fox.getListOfTricks()}">
    <li class="actions-li" th:text="${trick}"></li>
</ul>
<div th:unless="${fox.getListOfTricks().size() > 0}">Learn some tricks! You can do it!</div>
<ul  class="actions-ul" th:each="action : ${fox.getAllOrLatestFiveActions()}">
    <li class="actions-li" th:text="${action}" ></li>
</ul>
<a class="back" th:href="'/?name='+ *{name}">Back to the Main Page</a>
<img src="/littlefox.png"  alt="fox icon">
</body>
</html>