<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="navigation-bar :: topnav">
</div>
<img src="/greenfox.png" alt="A fox is hiding here.">
<form th:action="@{/nutrition-store}" th:method="POST">
    <label for="foods">Available foods</label>
    <select id="foods" th:name="food">
        <option th:each="food : ${foods}" th:value="${food}" th:text="${food}"></option>
    </select>
    <label for="drinks">Available drinks</label>
    <select id="drinks" name="drink">
        <option th:each="drink : ${drinks}" th:value="${drink}" th:text="${drink}"></option>
    </select>
    <input type="hidden" name="name" th:value="${fox.getName()}">
    <input type="submit" value="Yummy!">
</form>
</body>
</html>