<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank of Simba</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Pangolin&display=swap" rel="stylesheet">
</head>
<body>
<table>
    <thead>
    <tr>
        <th class="short">Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th class="short">Is King?</th>
        <th class="short">Is Good?</th>
    </tr>
    </thead>
    <tbody th:each="account : ${accounts}" th:object="${account}" th:attr="class=*{isKing()} ? 'king'">
    <tr>
        <td th:text=" ${accountStat.index} "></td>
        <td th:text=" *{name} "></td>
        <td th:text=" *{#numbers.formatDecimal(balance, 0, 2, 'POINT')} + ' Zebra' "></td>
        <td th:text=" *{animalType} "></td>
        <td th:text=" *{isKing() ? 'King' : ''} "></td>
        <td th:text=" *{isGood() ? 'Good One' : 'Bad Guy'} "></td>
    </tr>
    </tbody>
</table>
<form action="/showAllAccounts" method="post">
    <label id="whose" for="name">Whose balance would you like to raise?</label>
    <select id="name" name="name">
        <option th:each="account : ${accounts}" th:object="${account}" th:value="*{name}" th:text="*{name}"></option>
    </select>
    <button type="submit" id="raise" >Raise the Balance!</button>
</form>
</body>
</html>