<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank of Simba</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Pangolin&display=swap" rel="stylesheet">
    <link rel="icon" href="29609-8-the-lion-king.png">
</head>
<body>
<span id="bank">
    <h1 id="bos" ><img class="lion" src="29609-8-the-lion-king.png" alt="lion">  BANK of SIMBA</h1>
</span>
<table>
    <thead>
    <tr>
        <th class="shorter">Index</th>
        <th>Name</th>
        <th colspan="2">Balance</th>
        <th>Animal Type</th>
        <th class="short">Is King?</th>
        <th class="short">Is Good?</th>
    </tr>
    </thead>
    <tbody th:each="account : ${accounts}" th:object="${account}" th:attr="class=*{isKing()} ? 'king'">
    <tr>
        <td id="index" th:text=" ${accountStat.count} "></td>
        <td th:text=" *{name} "></td>
        <td id="balanceleft" th:text=" *{#numbers.formatDecimal(balance, 0, 'COMMA', 2, 'POINT')}"></td>
        <td id="balanceright">Zebra</td>
        <td th:text=" *{animalType} "></td>
        <td th:text=" *{isKing() ? 'King' : ''} "></td>
        <td th:text=" *{isGood() ? 'Good One' : 'Bad Guy'} "></td>
    </tr>
    </tbody>
</table>
<form action="/show-all-accounts" method="post">
    <label id="whose" for="name">Whose balance would you like to raise?</label>
    <select id="name" name="name">
        <option th:each="account : ${accounts}" th:object="${account}" th:value="*{name}" th:text="*{name}"></option>
    </select>
    <button type="submit" id="raise" >Raise the Balance!</button>

</form>
<div>
    <button id="redirect-to-new-account" onclick="window.location.href='/new-account';">New account</button>
</div>
</body>
</html>