<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<a th:href="'submit/' + ${userId}">Submit New Post</a>
<div>Trending Posts</div>
<table>
    <tbody th:object="${post}" th:each="post : ${posts}">
    <tr>
        <td th:text="*{point}"></td>
        <td>
            <a th:href="'/' + *{id} + '/up/' + ${userId}">
                <button>Up</button>
            </a>
        </td>
        <td>
            <a th:href="'/' + *{id} + '/down/' + ${userId}">
                <button>Down</button>
            </a>
        </td>
        <td >
            <a th:text="*{title}" th:href="*{url}" ></a>
        </td>
        <td th:if="*{owner != null}" th:text="*{owner.getName()}" ></td>
    </tr>
    </tbody>
</table>
</body>
</html>