<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
</head>
<body>
<div>Submit a New Post</div>
<form th:object="${post}" th:action="'/submit/' + ${userId}" method="post">
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" th:field="*{title}">
    </div>
    <div>
        <label for="url">URL:</label>
        <input id="url" type="text" th:field="*{url}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>