body {
    background-size: cover ;
    background: url("Savannah-background.jpg") center center;
}

.lion {
    width: 10%;
    height: 10%;
}

#bos {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 26px;
    color: darkgoldenrod;
    margin: 60px 850px 0 200px;
    text-align: center;
    border: black 3px solid;
    background-color: ivory;
    border-radius: 20px;
}

form {
    margin: 0 200px;
    alignment: center;
    font-size: 26px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    border: black solid 3px;
    background-color: ivory;
}

h1 {
    color: darkgoldenrod;
}
.form-title {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.field {
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    font-weight: bold;
}
.cell {
    font-size: 26px;
}

.option {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    margin-left: 20px;
}

#submit {
    margin-left: 600px;
    background-color: ivory;
    color: black;
    font-family: 'Amatic SC', cursive;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    outline: darkgoldenrod;
    font-size: 18px;
    font-weight: bold;
}