body {
    /*background-color: khaki;*/
    /*background: url("https://image.freepik.com/free-vector/orange-abstract-background-with-lines_1123-45.jpg");*/
    background-size: cover ;
    background: url("Savannah-background.jpg") center center;
}

bank {
    display: flow;
}

.lion {
    width: 10%;
    height: 10%;
}

#bos {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 26px;
    color: black;
    margin: 30px 850px 0px 217px;
    text-align: center;
    border: darkgoldenrod 3px solid;
    background-color: ivory;
    border-radius: 20px;
}

table {
    margin: 0 auto;
    background-color: ivory;
    border-radius: 4px;
    border-collapse: collapse;
}

/*thead {
    width: 200px;
    height: 75px;
}*/
th {
    width: 180px;
    height: 70px;
    /*border-radius: 6px;*/
    background-color: black;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    border-top: ivory 1px solid;
    border-bottom: black 1px solid;
    border-left: ivory 1px solid;
    border-right: ivory 1px solid;
}

td {
    padding-left: 20px;
    font-family: 'Pangolin', cursive;
    height: 40px;
    border: black 1px solid;
}

.short {
    width: 100px;
}

.king {
    font-size: 18px;
    color: darkgoldenrod;
}

form {
    margin-left: 340px;
}
#raise {
    background-color: ivory;
    color: black;
    font-family: 'Amatic SC', cursive;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;

}

#whose {
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: bold;
    display: block;
}

#name {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
}

#index {
    text-align: center;
}

#balanceright {
    border-left: none;
}

#balanceleft {
    border-right: none;
    text-align: right;
    padding-right: 10px;
}

.shorter {
    width: 70px;
}

#redirect-to-new-account {
    margin-left: 200px;
    background-color: ivory;
    color: black;
    font-family: 'Amatic SC', cursive;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}